@font-face {
  font-family: Cantarell;
  font-style: normal;
  font-weight: normal;
  src: url('Cantarell-Regular.ttf');
}

@font-face {
  font-family: Cantarell;
  font-style: italic;
  font-weight: normal;
  src: url('Cantarell-Oblique.ttf');
}

@font-face {
  font-family: Cantarell;
  font-style: oblique;
  font-weight: normal;
  src: url('Cantarell-Oblique.ttf');
}

@font-face {
  font-family: Cantarell;
  font-style: normal;
  font-weight: bold;
  src: url('Cantarell-Bold.ttf');
}

@font-face {
  font-family: Cantarell;
  font-style: italic;
  font-weight: bold;
  src: url('Cantarell-BoldOblique.ttf');
}

@font-face {
  font-family: Cantarell;
  font-style: oblique;
  font-weight: bold;
  src: url('Cantarell-BoldOblique.ttf');
}

@font-face {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: normal;
  src: url('OpenSansCondensed-Light.ttf');
}